<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Editeurs</title>
</head>
<body>
<div th:replace="~{entete}"></div>
<h1>Liste des éditeurs</h1>
<form action="editeurs" method="POST">
    <input type="text" id="nom" name="NOM" placeholder="Nom de l'éditeur" th:value="${nom}">
    <input type="submit" value="Rechercher">
</form>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id <a th:href="@{'index?page=0&sort=nom'}">Trier</a></th>
        <th>Logo <a th:href="@{'index?page=0&sort=logo'}">Trier</a></th>
        <th>Nom <a th:href="@{'index?page=0&sort=nom'}">Trier</a></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr th:each="editeur:${editeurs}">
        <td th:text="${editeur.id}"></td>
        <td><img th:src="@{'https://logo.clearbit.com/' + ${editeur.logo} + '?size=150'}" alt="Logo de l'éditeur'"></td>
        <td th:text="${editeur.nom}"></td>
        <td><a href="">Modifier</a><br><a href="">Supprimer</a></td>
    </tr>
</table>
<a href="editeur">Ajouter un éditeur</a>
</body>
</html>