<table>
    <tr>
        <td><a href="editeurs">&Eacute;diteurs</a></td>
        <td><a href="jeux">Jeux</a></td>
        <td><a href="plateformes">Plateformes</a></td>
        <td><a href="configuration">Configuration</a></td>

        <td><a href="/swagger-ui/index.html" target="swagger">Swagger</a></td>
    </tr>
</table>
<table>
    <tr>
        <td>H2</td>
        <td><a href="/h2-console" target="h2_console">Console</a></td>
    </tr>
</table>
<table>
    <tr>
        <td>Actuator</td>
        <td><a href="/beans" target="beans">Beans</a></td>
        <td><a href="/health" target="health">Health</a></td>
        <td><a href="/configprops" target="configprops">Propriétés de configuration</a></td>
        <td><a href="/env" target="env">Environnement</a></td>
    </tr>
</table>
<table>
    <tr>
        <td>Hibernate</td>
        <td><a href="statistiques" target="statistiques">Statistiques</a></td>
    </tr>
</table>